{{/* Alternate Links for Guide Versions
  Purpose: Add alternate/related links for different versions
  Input: A page context
  Output: Link tags for version relationships
*/}}

{{- if eq .Type "guide" -}}
  {{- $currentVersion := partial "functions/get-guide-version.html" . -}}
  {{- if $currentVersion -}}
    {{- $allVersions := partial "functions/get-all-versions.html" . -}}
    {{- $latestVersion := partial "functions/get-latest-version" . -}}

    {{- /* Add alternate links for other versions */ -}}
    {{- range $allVersions -}}
      {{- if ne .version $currentVersion -}}
        {{- if .isLatest -}}
          <link rel="alternate" href="{{ $.Site.Params.siteProdUrl }}{{ .url }}" title="{{ .title }} (Latest Version)" />
        {{- else -}}
          <link rel="alternate" href="{{ $.Site.Params.siteProdUrl }}{{ .url }}" title="{{ .title }} ({{ .version }})" />
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- /* Add hreflang links for all available languages of this version */ -}}
    {{- range .Site.Sites -}}
      {{- $langCode := .Language.Lang -}}
      {{- $siteVersion := "" -}}

      {{- /* Try to find the equivalent page in this language site */ -}}
      {{- $versionPath := printf "%s/%s" $.Section $currentVersion -}}
      {{- $langVersionPage := .GetPage $versionPath -}}

      {{- /* If specific version not found and this is latest, try section root */ -}}
      {{- if and (not $langVersionPage) (eq $currentVersion $latestVersion) -}}
        {{- $langVersionPage = .GetPage $.Section -}}
      {{- end -}}

      {{- /* Add hreflang link if page exists in this language */ -}}
      {{- if $langVersionPage -}}
        <link rel="alternate" hreflang="{{ $langCode }}" href="{{ $.Site.Params.siteProdUrl }}{{ $langVersionPage.RelPermalink }}" />
      {{- end -}}
    {{- end -}}

    {{- /* Add "latest" rel link if this is not the latest version */ -}}
    {{- if ne $currentVersion $latestVersion -}}
      {{- $sectionPage := $.Site.GetPage $.Section -}}
      {{- if $sectionPage -}}
        <link rel="latest-version" href="{{ $.Site.Params.siteProdUrl }}{{ $sectionPage.RelPermalink }}" title="{{ $.Title }} (Latest Version)" />
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
