{{/* Function: get-canonical-url
  Purpose: Get the canonical URL for a page, handling guide versioning
  Input: A page context
  Output: The canonical URL string
*/}}

{{- $canonicalUrl := .RelPermalink -}}

{{- /* Handle guide pages specifically */ -}}
{{- if eq .Type "guide" -}}
  {{- $currentVersion := partial "functions/get-guide-version.html" . -}}
  {{- if $currentVersion -}}
    {{- $latestVersion := partial "functions/get-latest-version" . -}}
    {{- if eq $currentVersion $latestVersion -}}
      {{- /* For latest version, canonical should be the section root */ -}}
      {{- $sectionPage := .Site.GetPage .Section -}}
      {{- if $sectionPage -}}
        {{- $canonicalUrl = $sectionPage.RelPermalink -}}
      {{- else -}}
        {{- $canonicalUrl = printf "/%s/" .Section -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return $canonicalUrl -}}
