{{/* Main JSON-LD wrapper that determines which schema type to render */}}
{{- $pageType := "" -}}
{{- $isHomePage := eq .RelPermalink "/" -}}
{{- $isGuidePage := and (eq .Kind "page") (eq .Type "guide") (not .Layout) -}}

{{- if $isHomePage -}}
  {{/* Home page gets WebSite schema */}}
  {{- partial "JSON-LD/website.html" . -}}
{{- else if or $isGuidePage -}}
  {{/* Guide pages get CreativeWork schema */}}
  {{- partial "JSON-LD/creativework.html" . -}}
{{- else -}}
  {{/* All other pages get WebPage schema */}}
  {{- partial "JSON-LD/webpage.html" . -}}
{{- end -}}
