<a href="/" class="d-flex align-items-center text-white text-decoration-none">
  <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
  <span class="fs-4 text-light">{{ .Site.Title }}</span>
</a>
<ul class="nav nav-pills">
  <li class="nav-item"><a href="{{ (.Site.GetPage "/guide").Permalink }}" class="nav-link text-white">{{ i18n "nav_read_online" }}</a></li>
  <li class="nav-item"><a href="/pdf" class="nav-link text-white">{{ i18n "nav_pdf_version" }}</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {{ i18n "nav_creators" }} </a>
    <ul class="dropdown-menu">
      {{- range where .Site.Pages "Section" "creators" }}
        {{- if ne .Title "Creators" }}
          <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end }}
      {{- end }}
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/creators">{{ i18n "nav_all_creators" }}</a></li>
    </ul>
  </li>
  <li class="nav-item"><a href="/faq" class="nav-link text-white">{{ i18n "nav_faq" }}</a></li>
  {{ partial "components/language-switcher.html" . }}
</ul>
