{{- define "main" }}
  {{ partial "components/guide-nav-menu.html" . }}

  {{- $latestVersion := partial "functions/get-latest-version" . }}

  {{/* Dynamically find the latest guide page in the current section */}}
  {{- $guidePage := "" }}

  {{/* Get all pages in the current section */}}
  {{- $sectionPages := where .Site.RegularPages "Section" .Section }}

  {{/* Filter for guide pages and sort by date (newest first) */}}
  {{- $guidePages := where $sectionPages "Type" "guide" }}
  {{- if $guidePages }}
    {{- $sortedPages := $guidePages.ByDate.Reverse }}
    {{- $guidePage = index $sortedPages 0 }}
  {{- end }}

  {{/* Fallback: try to find the page with the latest version */}}
  {{- if and (not $guidePage) $latestVersion }}
    {{- range $sectionPages }}
      {{- $pathParts := split .RelPermalink "/" }}
      {{- range $pathParts }}
        {{- if eq . $latestVersion }}
          {{- $guidePage = $ }}
          {{- break }}
        {{- end }}
      {{- end }}
      {{- if $guidePage }}
        {{- break }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{ partial "components/guide/render-guide.html" $guidePage }}
{{- end }}
{{- define "template" }}
  guide/single.html
{{- end }}
