{{ $contributors := partial "functions/get-contributors.html" . }}
{{- $contributors = where $contributors "founder" true -}}
{{- $contributors = where $contributors "role" "creator" -}}
{{ if $contributors }}
  <div class="content-authors mt-3">
    <div class="row">
      <div class="col-12 col-md-2">
        <span class="text-muted me-2">Creator(s):</span>
      </div>
      <div class="col-12 col-md-10">
        <div class="d-flex flex-wrap">
          {{ range sort $contributors "weight" }}
            {{ partial "components/guide/guide-author.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
