{{- define "main" }}
  <section class="section container-fluid main-header">
    <div class="container">
      <div class="row">
        <div class="col-4 p-5">
          <div class="card card-dark">
            <div class="card-body text-center">
              <i class="fa-solid fa-newspaper"></i>
              <h5 class="card-title">{{ i18n "read_online_title" . }}</h5>
              <p class="card-text">{{ i18n "read_online_description" }}</p>
            </div>
            <div class="card-footer">
              <a href="{{ (.Site.GetPage "/guide").Permalink }}" class="btn btn-primary">{{ i18n "read_online_button" }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6">
          <div>
            <div class="col-12">
              <h2 class="text-center">{{ i18n "what_is_guide_title" . }}</h2>
              <div class="lead text-center">
                {{- $guidePage := .Site.GetPage "/guide" }}
                {{- if $guidePage }}
                  {{ $guidePage.Params.guide_whatis | default $guidePage.Summary | markdownify }}
                {{- else }}
                  {{ i18n "guide_content_not_found" | markdownify }}
                {{- end }}
              </div>
            </div>
            <div class="col-12">
              <h2 class="text-center">{{ i18n "open_source_title" }}</h2>
              <p class="lead text-center">
                {{ i18n "open_source_description" . }}
              </p>
              <a href="{{ .Site.Params.githubUrl }}/discussions" class="btn btn-primary d-block mx-auto">{{ i18n "join_discussion_button" }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <h2 class="text-center">{{ i18n "about_creators_title" . }}</h2>
          {{- $pages := .Site.RegularPages }}
          {{- range .Site.Home.Translations }}
            {{- $pages = $pages | lang.Merge .Site.RegularPages }}
          {{- end }}
          {{- range where $pages "Section" "creators" }}
            {{- if ne .Title "Creators" }}
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    {{- $imageResource := "" }}
                    {{- $urlifiedTitle := .Title | urlize }}
                    {{- $imageResource = .Resources.GetMatch (printf "%s.*" $urlifiedTitle) }}
                    {{- if $imageResource }}
                      <img src="{{ $imageResource.RelPermalink }}" class="img-fluid rounded-start h-100" alt="{{ .Title }}" style="object-fit: cover;" />
                    {{- else }}
                      <div class="d-flex align-items-center justify-content-center h-100 bg-light rounded-start">
                        <i class="fa-solid fa-user-tie fa-3x text-muted"></i>
                      </div>
                    {{- end }}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ .Title }}</h5>
                      <p class="card-text">{{ .Description }}</p>
                      <a href="{{ .Permalink }}" class="btn btn-outline-primary">{{ i18n "read_bio_button" (dict "Name" (.Params.short_title | default .Title)) }}</a>
                    </div>
                  </div>
                </div>
              </div>
            {{- end }}
          {{- end }}
        </div>
      </div>
    </div>
  </section>
{{- end }}
